@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: #f5f3f2;
    
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

.custom-height {
    height: 44rem;
  }

.h-custom {
  height: 19rem;
}

.w-custom {
  width: 18rem;
}

.custom-width {
    width: 22rem;
}

.card-width {
    height: 5rem;
}
.card-height {
    width: 5rem;
}

.card-img-height{
  height: 8rem;
}

.translate-custom{
  translate: 6rem -3rem;
}

.card-color{
  background-color: #f2f2f0;
}


